<!-- Js Plugins -->
<script src="${base_path}/scripts/_shared/jquery-3.3.1.min.js"></script>
<script src="${base_path}/scripts/_shared/bootstrap.min.js"></script>
<script src="${base_path}/scripts/_shared/jquery.slicknav.js"></script>
<script src="${base_path}/scripts/_shared/owl.carousel.min.js"></script>
<!--[if lt IE 9]>
<script src="${base_path}/scripts/_shared/es5-shim.min.js"></script>
<![endif]-->
<script src="${base_path}/scripts/_shared/date-time-picker.min.js"></script>
<script src="${base_path}/scripts/_user/main.js"></script>
<script src="${base_path}/scripts/_user/custom.js"></script>