<span id="base_path" class="hidden" data-val="${base_path}"></span>
<h2>Gestione Programmi</h2>
<div class="row">
    <div class="col-sm-12">
        <a href="#" class="btn btn-success mb-2 mt-2 addButton" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i> <span>Aggiungi Programma</span></a>				
    </div>
</div>
<div class="table-wrapper table-responsive">
    <table id="programmiTable" class="table table-bordered table-hover mydata dt-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Link Img</th>
                <th>Link Ext Details</th>
                <th>Serie</th>
                <th>Stagione</th>
                <th>Episodio</th>
                <th>Durata</th>
                <th>Classificazione</th>
                <th>Genere</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <#list programmi_admin as programma>
            <tr>
                <td>${programma.key}</td>
                <td>${programma.nome}</td>
                <td>${programma.descrizione}</td>
                <td>${programma.linkRefImg}</td>
                <td>${programma.linkRefDetails}</td>
                <td>${programma.idSerie}</td>
                <td>${programma.stagione}</td>
                <td>${programma.episodio}</td>
                <td>${programma.durata}</td>
                <td>#${programma.classificazione.key} : ${programma.classificazione.nome}</td>
                <td>#${programma.genere.key} : ${programma.genere.nome}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="${base_path}/admin/programmi?edit=true&data_id=${programma.key}" class="btn btn-warning _edit" data-id="${programma.key}"><i class="fas fa-pencil-alt" aria-hidden="true" data-toggle="tooltip" title="Edit"></i></a>
                        <a href="${base_path}/admin/programmi?delete=true&data_id=${programma.key}" class="btn btn-danger _delete" data-id="${programma.key}"><i class="fas fa-trash" aria-hidden="true" data-toggle="tooltip" title="Delete"></i></a>
                    </div>
                </td>
            </tr>
            </#list>
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Link Img</th>
                <th>Link Ext Details</th>
                <th>Serie</th>
                <th>Stagione</th>
                <th>Episodio</th>
                <th>Durata</th>
                <th>Classificazione</th>
                <th>Genere</th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>