<span id="base_path" class="hidden" data-val="${base_path}"></span>
<h2>Administration Dashboard</h2>
<!-- Small boxes (Stat box) -->
<div class="row">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>${num_canali}</h3>

        <p>Canali</p>
      </div>
      <div class="icon">
        <i class="fa fa-list-ol"></i>
      </div>
      <a href="${base_path}/admin/canali" class="small-box-footer">Manage <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>${num_programmi}</h3>

        <p>Programmi</p>
      </div>
      <div class="icon">
        <i class="fa fa-list"></i>
      </div>
      <a href="${base_path}/admin/programmi" class="small-box-footer">Manage <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-warning">
      <div class="inner">
        <h3>${num_programmazioni}</h3>

        <p>Programmazioni</p>
      </div>
      <div class="icon">
        <i class="fa fa-calendar-alt"></i>
      </div>
      <a href="${base_path}/admin/programmazioni" class="small-box-footer">Manage <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3>${num_utenti}</h3>

        <p>Utenti</p>
      </div>
      <div class="icon">
        <i class="fa fa-users"></i>
      </div>
      <a href="${base_path}/admin/utenti" class="small-box-footer">Manage <i class="fas fa-arrow-circle-right"></i></a>
    </div>
  </div>
  <!-- ./col -->
</div>
<!-- /.row -->